.App {
  text-align: center;
}

@font-face {
  font-family: "ZnikomitNo25";
  font-weight: 200;
  src: url("../public/assets/fonts/ZnikomitNo25.otf");
}
@font-face {
  font-family: "ALS CSKA Regular";
  font-weight: 200;
  src: url("../public/assets/fonts/regular.otf");
}
@font-face {
  font-family: "Kerola";
  font-weight: 400;
  src: url("../public/assets/fonts/kerola-normal.woff2");
}
@font-face {
  font-family: "Kerola Bold";
  font-weight: 600;
  src: url("../public/assets/fonts/kerola-bold.woff2");
}
@font-face {
  font-family: "Kerola Light";
  font-weight: 200;
  src: url("../public/assets/fonts/kerola-light.woff2");
}

* {
  box-sizing: border-box;
}

